Telegram_MILU (1).json
{
  "name": "Telegram MILU",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "*"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -260,
        200
      ],
      "id": "f705bf95-2c50-4099-bfe0-b3dc85136e9a",
      "name": "Telegram Trigger",
      "webhookId": "5302022e-80e5-45a4-81bc-2dc2f4dafa65",
      "credentials": {
        "telegramApi": {
          "id": "4Mov7QNy98h1KRrY",
          "name": "aimilu_bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2720,
        60
      ],
      "id": "ab1753a7-cb92-42bb-a7b9-6c4d1b0cd4ef",
      "name": "Telegram",
      "webhookId": "bd76ec4e-aa0f-4dc5-bbcc-1846e04a5f8c",
      "credentials": {
        "telegramApi": {
          "id": "4Mov7QNy98h1KRrY",
          "name": "aimilu_bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $json.message.chat.id }}",
        "messageData": "={{ $('Telegram Trigger').item.json.message.text }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        360,
        -340
      ],
      "id": "db55718f-a9cc-4027-b116-5b2335e6636e",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "B2mhuSj5zUOfF9M9",
          "name": "database-MBFDCJBY MILU"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "38abf138-2c0e-4b01-9318-94fd04b12399",
              "name": "message.chat.id",
              "value": "={{ $json.message.chat.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        -340
      ],
      "id": "35d6803f-0729-4553-8ea6-82f10879a064",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        540,
        -340
      ],
      "id": "f2d32af8-d3e2-4ded-a4e0-fc1efb477aa5",
      "name": "Wait4",
      "webhookId": "1ec3e027-0ab5-48c2-818d-33533aa517c3"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "mensajes",
        "key": "={{ $('Edit Fields').item.json.message.chat.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        740,
        -340
      ],
      "id": "b5f55fdb-10d5-485b-be68-9f74f29c8c54",
      "name": "Redis1",
      "credentials": {
        "redis": {
          "id": "B2mhuSj5zUOfF9M9",
          "name": "database-MBFDCJBY MILU"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cad7b24a-cfa4-4ce7-80fe-3cfa407d4920",
              "leftValue": "={{ $json.mensajes.last() }}",
              "rightValue": "={{ $('Telegram Trigger').item.json.message.text }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        960,
        -340
      ],
      "id": "d0d3a788-09b7-424a-8c29-49ed44a11df6",
      "name": "If3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1220,
        -200
      ],
      "id": "954aa590-020f-40c8-8f6b-afa77309b4e9",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "02eba464-6cdf-4c28-864b-bb558a4318dc",
              "name": "response",
              "value": "={{ $('Redis1').item.json.mensajes.join() }}",
              "type": "string"
            },
            {
              "id": "e02e54a9-e068-4cd7-a59b-7d7353927f5b",
              "name": "chat_id",
              "value": "={{ $('Edit Fields').item.json.message.chat.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1180,
        -440
      ],
      "id": "994c5068-b2d4-414f-87ff-6ecd7510d78c",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Edit Fields').item.json.message.chat.id }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1400,
        -440
      ],
      "id": "2aff3682-3755-47c3-ae1d-a6078d36846d",
      "name": "Redis2",
      "credentials": {
        "redis": {
          "id": "B2mhuSj5zUOfF9M9",
          "name": "database-MBFDCJBY MILU"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notExists",
                      "singleValue": true
                    },
                    "id": "2d0cc67b-c447-4432-b9a6-abe4a5ba3227"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f42e92e8-663d-4720-bdd7-e4fe8182cccc",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -60,
        200
      ],
      "id": "5743021d-8004-431e-831a-824a5f0fa99e",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        520,
        300
      ],
      "id": "fa5e1284-6743-49e2-9915-da530d27ccf5",
      "name": "Transcripcion",
      "credentials": {
        "openAiApi": {
          "id": "IhVySC1Ng9ucdkL4",
          "name": "Milu Telegram Agent"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        260,
        300
      ],
      "id": "47624d9d-498e-4612-b76f-7512e926fa26",
      "name": "Get Audio",
      "webhookId": "659a9541-ba92-4496-8202-c53dbca9e2b1",
      "credentials": {
        "telegramApi": {
          "id": "4Mov7QNy98h1KRrY",
          "name": "aimilu_bot"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Telegram Trigger').item.json.message.text ?? $('Transcripcion').item.json.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1760,
        180
      ],
      "id": "3d6d07b3-2700-47e8-9f37-a897076b1597",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1720,
        400
      ],
      "id": "21d28195-2c72-438c-8012-2bfb2814083b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "IhVySC1Ng9ucdkL4",
          "name": "Milu Telegram Agent"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.text ?? $('Transcripcion').item.json.text }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1900,
        420
      ],
      "id": "ab7ef2b5-872b-4579-b4d6-829275e53507",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notExists",
                      "singleValue": true
                    },
                    "id": "2d0cc67b-c447-4432-b9a6-abe4a5ba3227"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f42e92e8-663d-4720-bdd7-e4fe8182cccc",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2200,
        180
      ],
      "id": "317f22d3-bedc-4a91-906f-381422a2ff58",
      "name": "Switch2"
    },
    {
      "parameters": {
        "resource": "audio",
        "input": "={{ $('AI Agent').item.json.output }}",
        "voice": "nova",
        "options": {
          "response_format": "opus"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2420,
        280
      ],
      "id": "8c3c3b6c-8f26-4e81-82a3-3f4135d841ae",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "IhVySC1Ng9ucdkL4",
          "name": "Milu Telegram Agent"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAudio",
        "chatId": "={{ $('Switch').item.json.message.chat.id }}",
        "binaryData": true,
        "additionalFields": {
          "fileName": "agent_response.opus",
          "reply_to_message_id": "={{ $('Telegram Trigger').item.json.message.message_id }}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2640,
        280
      ],
      "id": "0c9bdf41-954e-4b4f-ba46-070da9a9bae9",
      "name": "Telegram1",
      "webhookId": "8f3318eb-8344-4958-adee-c1e1555b8ca9",
      "credentials": {
        "telegramApi": {
          "id": "4Mov7QNy98h1KRrY",
          "name": "aimilu_bot"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        []
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "Wait4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait4": {
      "main": [
        [
          {
            "node": "Redis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis1": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Redis2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis2": {
      "main": [
        []
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Audio": {
      "main": [
        [
          {
            "node": "Transcripcion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcripcion": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "04eacbe3-7351-4804-b32c-2e7081f272ec",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f0b6504e5b997bb1a43d1ecb695a455966fa7ba26d3e9668a0010b41f58753ec"
  },
  "id": "BYXCdshgQfHi3jpH",
  "tags": []
}